.main {
  max-width: 90%;
  margin-top: 5em;
}

@media (max-width:426px) {
  .callToAction {
    font-size: .8em;
  }
}


.modal {
  max-width: 60%;
  position: fixed;
  bottom: 1em;
  z-index: 9999;
  right: 0;
  padding: .8em;
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(216, 211, 211, 0.7);
  box-shadow: 2px 2px 2px -2px rgba(0,0,0,.3);
  cursor: pointer;
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(35px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  } 
}

.animateLeft {
  transform: translateX(35px);
  opacity: 0;
  animation: left 350ms forwards;
}