@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--lightText);
}

* {
  box-sizing: border-box;
}

.warning {
  color: var(--warning);
  font-weight: bold;
  display: flex;
  max-width: inherit;
  font-size: .8em;
}

button {
  font-weight: 600;
  color: var(--darkText);
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 10px;

  box-shadow: 2px 2px 2px -2px #0000004d;
  background: var(--button);

  cursor: pointer;
}

p.button {
  font-weight: 600;
  color: var(--lightText);
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 10px;

  box-shadow: 2px 2px 2px -2px #0000004d;
  background: var(--button);

  cursor: pointer;
}

:root {
  --nav: #26547C;
  --button: #e4b1eccc;
  --darkText: #2A324B;
  --lightText: #fff;
  --warning: #e20707cc;
  --success: #05c267;
  --border: #cccbcb;
  --inputBackground: #95e9d180;
}